body {
  display: flex;
  flex-direction: column;
  background-image: url(./background_50.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
}

header h1 {
  color: rgba(255, 255, 255, 0.85);
}

.input-container {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin-left: auto;
  margin-right: 5%;
  padding: 2px;
}

input {
  border: none;
  width: 90%;
  font-size: 15px;
  margin-left: 5px;
  color: white;
  background-color: transparent;
}

input:focus {
  outline: none;
}

#search-icon {
  margin-left: auto;
  color: rgb(221, 221, 221);
  text-align: right;
  margin-right: 10px;
}

#search-icon:hover {
  cursor: default;
  color: rgb(187, 180, 180);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: fit-content;
  width: fit-content;
  color: rgb(248, 240, 240);
  align-self: center;
}

main #city {
  font-size: 40px;
  margin-left: 10px;
  margin-bottom: 15px;
}

main label {
  font-size: small;
  margin-bottom: 10px;
}

#temperature {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 630px) {
  main {
    width: 30%;
    margin-left: 100px;
    align-self: normal;
  }

  #temperature {
    font-size: 30px;
  }

  main label {
    font-size: medium;
  }
}
